In [1]:
import numpy as np, pandas as pd

In [2]:
# Read in the "people" file output in the previous exercise
people = pd.read_csv('./data/people.csv')

In [3]:
# For the second part of the ETL exercise, creating the "acquisitions" file, I'm going to make a copy of part of this df to work with
acquisitions = people.drop(columns=['code', 'is_unsub'])

In [4]:
# so far, so good
acquisitions.head()

,email,created_dt,updated_dt
0,xmartinez@vincent.com,"Tue, 1997-09-30 01:41:35","Thu, 1981-02-26 19:36:22"
1,hmiller@haynes.biz,"Thu, 2014-03-27 23:18:18","Mon, 2012-12-10 18:46:32"
2,aaron64@yahoo.com,"Mon, 1992-06-01 06:07:45","Mon, 1986-07-28 03:41:12"
3,wyattvincent@hotmail.com,"Sun, 1993-05-23 08:00:18","Sat, 1983-05-07 09:29:18"
4,tspencer@hotmail.com,"Fri, 1986-10-31 03:24:05","Sat, 1979-09-22 05:01:01"

In [5]:
# We don't need the times for this, just the actual dates. I'm just going to slice the last nine characters off the created_dt column
acquisitions['created_dt'] = [entry[:-9] for entry in acquisitions['created_dt']]

In [6]:
# Slight problem here - there are still more than eighteen thousand unique creation dates, though that's significantly reduced from the original
print(len(people['created_dt'].unique()), len(acquisitions['created_dt'].unique()))

605525 18445

In [7]:
# Using a groupby to create the actual "acquisition_facts" data, counting the number of emails added on each unique day
acquisition_facts = acquisitions[['email', 'created_dt']].groupby(by=['created_dt'], as_index=False).count()

In [8]:
# Looks good to me!
acquisition_facts.head()

        created_dt  email
0  Fri, 1970-01-02     34
1  Fri, 1970-01-09     37
2  Fri, 1970-01-16     42
3  Fri, 1970-01-23     34
4  Fri, 1970-01-30     39

In [9]:
acquisition_facts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18445 entries, 0 to 18444
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_dt  18445 non-null  object
 1   email       18445 non-null  int64
dtypes: int64(1), object(1)
memory usage: 432.3+ KB

In [10]:
# Renaming columns to those specified by the schema
acquisition_facts.rename(columns={'created_dt': 'acquisition_date', 'email': 'acquisitions'}, inplace=True)

In [11]:
# looks good
acquisition_facts.head()

  acquisition_date  acquisitions
0  Fri, 1970-01-02            34
1  Fri, 1970-01-09            37
2  Fri, 1970-01-16            42
3  Fri, 1970-01-23            34
4  Fri, 1970-01-30            39

In [12]:
# And now to write to csv
acquisition_facts.to_csv('./data/acquisition_facts.csv', index=False)